{% extends base_template %}
{% trans_default_domain "PrestaGoogleAnalyticsDashboardBundle" %}

{% block title %}
    GoogleAnalyticsDashboard
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'breadcrumb.link_dashboard'|trans({}, 'SonataAdminBundle') }}</a><span class="divider">/</span></li>
    <li class="active">GoogleAnalyticsDashboard</li>
{% endblock %}

{%block actions %}
{% endblock %}

{% block content %}
    [WIP]
{% endblock %}
